/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
/* line 10, ../sass/screen.scss */
#login {
  padding-top: 50px;
}

/* line 13, ../sass/screen.scss */
#login .form-wrap {
  width: 30%;
  margin: 0 auto;
}

/* line 17, ../sass/screen.scss */
#login h1 {
  color: #1fa67b;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

/* line 24, ../sass/screen.scss */
#login .form-group {
  margin-bottom: 25px;
}

/* line 27, ../sass/screen.scss */
#login .checkbox {
  margin-bottom: 20px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 36, ../sass/screen.scss */
#login .checkbox.show:before {
  content: '\e013';
  color: #1fa67b;
  font-size: 17px;
  margin: 1px 0 0 3px;
  position: absolute;
  pointer-events: none;
  font-family: 'Glyphicons Halflings';
}

/* line 45, ../sass/screen.scss */
#login .checkbox .character-checkbox {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #000000;
  vertical-align: middle;
  display: inline-block;
}

/* line 54, ../sass/screen.scss */
#login .checkbox .label {
  color: #6d6d6d;
  font-size: 13px;
  font-weight: normal;
}

/* line 59, ../sass/screen.scss */
#login .btn.btn-custom {
  font-size: 14px;
  margin-bottom: 20px;
}

/* line 63, ../sass/screen.scss */
#login .forget {
  font-size: 13px;
  text-align: center;
  display: block;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
/* line 72, ../sass/screen.scss */
.form-control {
  color: #212121;
}

/* line 75, ../sass/screen.scss */
.btn-custom {
  color: #fff;
  background-color: #1fa67b;
}

/* line 79, ../sass/screen.scss */
.btn-custom:hover,
.btn-custom:focus {
  color: #fff;
}

/* line 85, ../sass/screen.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #1fa67b !important;
}

/* line 88, ../sass/screen.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #909;
  opacity: 1;
}

/* line 92, ../sass/screen.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #909;
  opacity: 1;
}

/* line 96, ../sass/screen.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #909;
}
